# .gitignore file
# file tells git what to ignore when checking for changes in any files in this directory

#ignore all files in these directories
.vs/

#ignore these subdirectories
Debug/
Release/
x64/

#ignore these file types
*.pdf
*.ld
*.ipch

#ignore SDK.log file
SDK.log